{{#if error}}
   <div class ="error"> Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="content">
        <div class="login-link display-top">
            <a href="/logout">LOGOUT</a>
        </div>
        <div class="headline">
            <h1>REORGANIZE YOUR DATA.</h1>
        </div>
            <form method="POST" class="input-field">
                <div class="input">
                    <input required autocomplete="off" placeholder="FIRST NAME" onfocus="this.value = ''" onblur="this.placeholder = 'FIRST NAME'" type="text" name="first" value={{first}} >
                </div>
                <div class="input">
                    <input required autocomplete="off" placeholder="LAST NAME" onfocus="this.value = ''" onblur="this.placeholder = 'LAST NAME'" type="text" name="last" value={{last}} >
                </div>
                <div class="input">
                    <input required autocomplete="off" placeholder="E-MAIL" onfocus="this.value = ''" onblur="this.placeholder = 'E-MAIL'" type="text" name="email" value={{email}}>
                </div>
                <div class="input">
                    <input required autocomplete="off" onfocus="this.placeholder = ''" onblur="this.placeholder = 'PASSWORD'" type="password" name="password" value="" placeholder="PASSWORD">
                </div>
                <div class="input">
                    <input onfocus="this.placeholder = ''" onblur="this.placeholder = 'AGE'" autocomplete="off" type="text" name="age" placeholder="AGE" value={{age}}>
                </div>
                <div class="input">
                    <input onfocus="this.placeholder = ''" onblur="this.placeholder = 'CITY'" autocomplete="off" type="text" name="city" placeholder="CITY" value={{city}}>
                </div>
                <div class="input">
                    <input onfocus="this.placeholder = ''" onblur="this.placeholder = 'HOMEPAGE'" autocomplete="off" type="text" name="page"  placeholder="HOMEPAGE"value={{page}}>
                </div>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="submit">UPDATE</button>
            </form>
            <div class="login-link display-bottom edit-prof">
                <a href="/logout">LOGOUT</a>
            </div>
    </div>
</div>
