{{#if error}}
   <div class ="error"> Oops! something went wrong</div>
{{/if}}
<div class="container">
    <div class="content">
        <div class="login-link">
            <a href="/logout">LOGOUT</a>
        </div>
        <div class="headline custom-edit">
            <h1>REORGANIZE YOUR DATA.</h1>
        </div>
        <!-- <div class="text-div"> -->
            <form method="POST" class="input-field edit-input">

                <div class="input">
                    <input type="text" name="first" value={{first}} required autocomplete="off">
                </div>
                <div class="input">
                    <input type="text" name="last" value={{last}} required autocomplete="off">
                </div>
                <div class="input">
                    <input type="text" name="email" value={{email}} required autocomplete="off">
                </div>
                <div class="input">
                    <input type="password" name="password" value="" placeholder="PASSWORD">
                </div>
                <div class="input">
                    <input type="text" name="age" placeholder="AGE" value={{age}} autocomplete="off">
                </div>
                <div class="input">
                    <input type="text" name="city" placeholder="CITY" value={{city}} autocomplete="off">
                </div>
                <div class="input">
                    <input type="text" name="page"  placeholder="HOMEPAGE"value={{page}} autocomplete="off">
                </div>

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <button class="submit">UPDATE</button>
            </form>
        <!-- </div> -->
    </div>
</div>
