{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="container">
    <div class="content">

        <div class="textDiv">

            <form method="POST" class="inputField" id="editInput">
                <div class="ribbon custom-edit">
                    <h1>Edit profile</h1>
                </div>
                <div class="input">
                    <p>FIRST NAME</p>
                    <input type="text" name="first" value={{first}} required>
                </div>
                <div class="input">
                    <p>LAST NAME</p>
                    <input type="text" name="last" value={{last}} required>
                </div>
                <div class="input">
                    <p>EMAIL</p>
                    <input type="text" name="email" value={{email}} required>
                </div>
                <div class="input">
                    <p>PASSWORD</p>
                    <input type="password" name="password" value="">
                </div>
                <div class="input">
                    <p>AGE</p>
                    <input type="text" name="age" value={{age}}>
                </div>
                <div class="input">
                    <p>CITY</p>
                    <input type="text" name="city" value={{city}}>
                </div>
                <div class="input">
                    <p>HOMEPAGE</p>
                    <input type="text" name="page" value={{page}}>
                </div>

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <button class="updateButton">UPDATE</button>
            </form>
        </div>
    </div>
    <div class="logout">
        <a href="/logout">LOGOUT</a>
    </div>
</div>
