<h1>Edit profile</h1>
<p>First name</p>
<input type="text" placeholder={{first}}>
<p>{{first}}</p>
<p>Last name</p>
<input type="text" placeholder="{{last}}">
<p>Email</p>
<input type="text" placeholder="{{email}}">
<p>Password</p>
<input type="text" name="" value="">
<p>Age</p>
<input type="text" placeholder="{{age}}">
<p>City</p>
<input type="text" placeholder="{{city}}">
<p>Homepage</p>
<input type="text" placeholder="{{page}}">
