{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="container">
    <div class="content">

        <div class="textDiv">

            <form method="POST" class="inputField edit-input">
                <div class="ribbon custom-edit">
                    <h1>REORGANIZE YOUR DATA.</h1>
                </div>
                <div class="input">
                    <input type="text" name="first" value={{first}} required>
                </div>
                <div class="input">
                    <input type="text" name="last" value={{last}} required>
                </div>
                <div class="input">
                    <input type="text" name="email" value={{email}} required>
                </div>
                <div class="input">
                    <input type="password" name="password" value="" placeholder="PASSWORD">
                </div>
                <div class="input">
                    <input type="text" name="age" placeholder="AGE" value={{age}}>
                </div>
                <div class="input">
                    <input type="text" name="city" placeholder="CITY" value={{city}}>
                </div>
                <div class="input">
                    <input type="text" name="page"  placeholder="HOMEPAGE"value={{page}}>
                </div>

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <button class="submit">UPDATE</button>
            </form>
        </div>
    </div>
    <div class="logout">
        <a href="/logout">LOGOUT</a>
    </div>
</div>
