{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="signers">
    <h1>Here be signers</h1>
    {{#rows}}
        <ul>
            <li>first name: {{firstName}} last name: {{lastName}} age: {{ageInt}} city: {{residence}} homepage: {{url}}</li>
        </ul>
    {{/rows}}
</div>
