{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="container">
    <div class="content" id="signersContent">

        <div class="textDiv">
            {{#if ./extractedCity}}
            <h1 class="signersHeadline">All the virtuous signers from: {{town}}</h1>
            {{else}}
            <h1 class="signersHeadline">All the virtuous signers.</h1>
            <p>You are in outstanding company!</p>
            {{/if}}
        <div class="signersDiv">

            {{#rows}}
                <ul>
                    {{#if ../extractedCity}}
                    {{#if url}}
                            <li><a href={{url}}>{{first_name}} {{last_name}}</a> {{age_int}}
                            </li>
                        {{else}}
                            <li>{{first_name}} {{last_name}} {{age_int}}
                            </li>
                        {{/if}}
                    {{else}}
                        {{#if url}}
                            <li><a href={{url}}>{{first_name}}  {{last_name}}</a> {{age_int}} <a href="/signers/{{residence}}">{{residence}}</a>  </li>
                        {{else}}
                            <li>{{first_name}} {{last_name}} {{age_int}} <a href="/signers/{{residence}}">{{residence}}</a> </li>
                        {{/if}}
                    {{/if}}
                    <!-- <li>first name: {{firstName}}  last name: {{lastName}} age: {{ageInt}} city: {{residence}} </li> -->
                </ul>
            {{/rows}}
        </div>
        <!-- <div class="signers"> -->

        </div>

    </div>
    <div class="logout">
        <a href="/logout">LOGOUT</a>
    </div>
</div>
