{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="signers">
    <h1>Here be signers</h1>
    {{#rows}}
        <ul>
            <li>{{first}} {{last}} {{age}} {{city}} {{homepage}}</li>
        </ul>
    {{/rows}}
</div>
