{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="container">
    <div class="content" id="signersContent">

        <div class="textDiv">
            <div class="ribbon custom-signers">
                {{#if ./extractedCity}}
                <h1 class="signersHeadline">All the virtuous signers from: {{town}}</h1>
                {{else}}
                <h1 class="signersHeadline">All the virtuous signers.</h1>
                <p>You are in outstanding company!</p>
                {{/if}}
            </div>

        <div class="signersDiv">

            {{#rows}}
                <ul>
                    {{#if ../extractedCity}}
                    {{#if url}}
                            <li><a href={{url}}>{{first_name}} {{last_name}}</a> {{age_int}}
                            </li>
                        {{else}}
                            <li>{{first_name}} {{last_name}} {{age_int}}
                            </li>
                        {{/if}}
                    {{else}}
                        {{#if url}}
                            <li><a href={{url}}>{{first_name}}  {{last_name}}</a> {{age_int}} <a href="/signers/{{residence}}">{{residence}}</a>  </li>
                        {{else}}
                            <li>{{first_name}} {{last_name}} {{age_int}} <a href="/signers/{{residence}}">{{residence}}</a> </li>
                        {{/if}}
                    {{/if}}
                </ul>
            {{/rows}}
        </div>
        </div>
    </div>
    <div class="logout">
        <a href="/logout">LOGOUT</a>
    </div>
</div>
