{{#if error}}
       <div class ="error"> Oops! something went wrong</div>
   {{/if}}
<div class="signers">
    <h1>Here be signers</h1>
    {{#rows}}
        <ul>
            {{#if url}}
            <li>first name: <a href={{url}}>{{first_name}}</a>   last name: {{last_name}} age: {{age_int}} city: {{residence}} </li>
            {{else}}
            <li>first name: {{first_name}}  last name: {{last_name}} age: {{age_int}} city: {{residence}} </li>
            {{/if}}
            <!-- <li>first name: {{firstName}}  last name: {{lastName}} age: {{ageInt}} city: {{residence}} </li> -->
        </ul>
    {{/rows}}
</div>
